@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your existing global styles */
html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}

.hero {
  overflow: hidden;
}

.hero > div:first-child {
  will-change: transform;
  transform: translateZ(0);
}

/* Include custom classes directly in globals.css */
@layer components {
  .title-large {
    @apply text-[78px] font-bold text-gray-900 leading-none;
  }

  .title-medium {
    @apply text-[48px] font-bold text-gray-900 leading-[3rem] lowercase;
  }

  .feature-title {
    @apply text-2xl font-semibold mb-3 text-gray-500;
  }
}